spring:
  application:
    name: command
  threads:
    virtual:
      enabled: true

cassandra:
  contactPoints: ${BOOKING_SYSTEM_CASSANDRA_CONTACT_POINTS}
  keyspaceName: ${BOOKING_SYSTEM_CASSANDRA_KEYSPACE_NAME}
  localDatacenter: ${BOOKING_SYSTEM_DATACENTER}

kafka:
  clientId: ${BOOKING_SYSTEM_KAFKA_COMMAND_SERVICE_CLIENT_ID}
  groupId: ${BOOKING_SYSTEM_KAFKA_COMMAND_SERVICE_GROUP_ID}
  bootstrapServers: ${BOOKING_SYSTEM_KAFKA_BOOTSTRAP_SERVERS}