spring:
  application:
    name: command
  threads:
    virtual:
      enabled: true

cassandra:
  contact-points: ${BOOKING_SYSTEM_CASSANDRA_CONTACT_POINTS}
  keyspace-name: ${BOOKING_SYSTEM_CASSANDRA_KEYSPACE_NAME}
  local-datacenter: ${BOOKING_SYSTEM_DATACENTER}

kafka:
  client:
    client-id: ${BOOKING_SYSTEM_KAFKA_COMMAND_SERVICE_CLIENT_ID}
    bootstrap-servers: ${BOOKING_SYSTEM_KAFKA_BOOTSTRAP_SERVERS}
  consumer:
    group-id: ${BOOKING_SYSTEM_KAFKA_COMMAND_SERVICE_GROUP_ID}
    concurrent-consumer-count: 3
    max-poll-interval-ms: 300_000
    max-poll-records: 500
    poll-timeout-ms: 5000
  topics:
    booking-topic-name: bookings
    partitions: 3
    replication-factor: 3