.idea
.env
.gitignore

local
docker-compose.yaml

diagrams
README.md

mvnw.cmd

booking-service/target
booking-service/api-docs.yaml
booking-service/Dockerfile

command-service/target
command-service-service/Dockerfile

query-service/target
query-service/api-docs.yaml
query-service-service/Dockerfile

commons-json/target
commons-kafka/target
commons-models/target